.projectteamwrap{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}
.notsupervisingprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}